<html>
<head>
    <title>Home page</title>
    <link href="css/home.css" rel="stylesheet">
</head>
<body>
<div class="row">
    <div class="col-md-0">
        <br/>
    </div>
    <div class="col-md-12">
        <br/><br/>
        <center><h1>Welkom</h1></center>
        <br/><br/>
    </div>
</div>
<div class="row">
    <div class="col-md-0">
        <br/>
    </div>
    <div class="col-md-12">
        <center><img src="/templates/Img/moviepicture.jpg" style="width:964px;height:536px;"></center>
    </div>
</div>
</body>
</html>
